<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta charset="UTF-8">
  <title th:if="${#strings.isEmpty(blog.title)}">创建博文</title>
  <title th:unless="${#strings.isEmpty(blog.title)}">修改博文</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/sidbar.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="/lib/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="/lib/tagify/jquery.tagify.css"/>
  <script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/lib/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <script src="/lib/tagify/jquery.tagify.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html">ZACHARY BLOG WEBSITE</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">首页</a></li>
        <li><a href="#">最近</a></li>
        <li><a href="#">归档</a></li>
        <li><a href="#">关于</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="关键字/用户名" name="key">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h2 th:if="${#strings.isEmpty(blog.title)}">创建博文
      <small>在这里新建一篇博客</small>
    </h2>
    <h2 th:unless="${#strings.isEmpty(blog.title)}">修改博文
      <small>在这里修改一篇博客</small>
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-8">
	<!--  
      <form th:action="@{'/blogs/'+${isEdit==null?'':isEdit}}" th:object="${blog}" method='post' class="form-blog">
      	<input th:unless="${#strings.isEmpty(blog.title)}" type="hidden" name="_method" value="put">
      	
        <input type="text" th:field="*{title}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">标题长度必须在2-30之间</p>
        <input type="text" th:field="*{content}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">内容不可为空</p>
        <input type="submit">
      </form>
	-->
		
	<form class="form-create-blog form-blog" th:action="@{'/blogs/'+${isEdit==null?'':isEdit}}" th:object="${blog}" method='post' >
        <input th:unless="${#strings.isEmpty(blog.title)}" type="hidden" name="_method" value="put">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" class="form-control" id="title" placeholder="文章的标题" autofocus="" th:field="*{title}">
          <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">标题长度必须在2-30之间</p>
        </div>
        <div class="form-group">
          <label for="title">标签</label><p>
          <input type="text" class="form-control" id="tag" placeholder="标签" autofocus="">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" id="content" placeholder="文章的内容" rows="18" th:field="*{content}"></textarea>
          <p class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">内容不可为空</p>
        </div>
        <button type="submit" class="btn pull-right btn-primary">保存</button>
      </form>
    </div>

    <div class="col-sm-3 col-sm-offset-1" th:object="${user}">
      <div class="sidebar-module sidebar-module-inset">
        <div class="avatar">
          <img class="img-circle img-rounded img-thumbnail avatar" th:src="@{'/profile/'+${user.name}}">
          <div>
            <h4><a th:text="${user.name}" th:href="'/'+${user.name}">Lorem</a></h4><br/>
            <a type="email" th:text="${user.email}">lorem@example.com</a>
          </div>
        </div>
      </div>
      <div class="sidebar-module">
        <h4>归档</h4>
        <ol class="list-unstyled">
          <li><a href="#">2015年03月</a></li>
          <li><a href="#">2015年02月</a></li>
          <li><a href="#">2015年01月</a></li>
          <li><a href="#">2014年12月</a></li>
          <li><a href="#">2014年11月</a></li>
          <li><a href="#">2014年10月</a></li>
          <li><a href="#">2014年09月</a></li>
          <li><a href="#">2014年08月</a></li>
          <li><a href="#">2014年07月</a></li>
        </ol>
      </div>
    </div>

  </div>

</div>

<footer>
  &copy; 2016 SomeCompany, Org &middot; <a href="#">隐私</a> &middot; <a href="#">条款</a>
</footer>

</body>
</html>